<ul class="list date-list">

{% for player in players %}
    <li class="{{ loop.first ? 'first' : (loop.last ? 'last' : 'item') }}">
        {{ player.username }} joined!
    </li>
{% endfor %}

</ul>
